<main>
    <section id="banner" class="banner">
        <div class="box">
            <h1>
                <span class="title1">Seja bem-vindo</span>
                <span class="title2">Meu nome é Jean de Godoy, sou iniciante na área da programação,
                     estou cursando Sistemas para Internet no Instituto Federal Farroupilha campus Panambi.
                </span>
            </h1>

            <p class="paragraph">Conheça mais sobre mim, meus projetos e habilidades técnicas.</p>

            <div class="buttons">
                <a href="#about">
                    <i class="material-symbols-outlined">
                    sentiment_very_satisfied
                    </i>
                    sobre mim
                </a>
                <a href="#skills">
                    <i class="material-symbols-outlined">
                    check_circle
                    </i>
                    habilidades
                </a>
            </div>
        </div>

    </section>

    <section id="about" class="container about">
        <div class="box">
            <div class="img">
                <img src="assets/imgs/profile.jpg" alt="foto de jean">
            </div>

            <div class="text">
                <h2>Sobre mim</h2> 

                <h3>Sou programador Web com conhecimento em Angular, TypeScript, HTML5, JavaScript, CSS3.</h3>
                
                <p>
                    Sou apaixonado por tecnologia, programação e dar a vida a projetos digitais.
                    Gosto de entender como tudo funciona. Prezo por um código limpo e acessível que outros programadores consigam lelo.
                </p>

                <p></p>

                <p></p>

                <a href="#contact">Entre em contato comigo!</a>
            </div>

        </div>
    </section>
</main>